:root {
  --base: #008c8c;
  --spacing: 100%;
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue-rotate: 0deg;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.form {
  background-color: var(--base);
  opacity: 0.9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Cyberpunk;
  src: url(/font/Cyberpunk.ttf);
}
html {
  font-family: Cyberpunk;
  font-size: xx-large;
  color: yellow;
  background: url(img/1.jpg) no-repeat center center fixed;

  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 100% 1fr;
  grid-template-areas:
    ". head ."
    "main main main "
    ". footer .";
}
header {
  text-align: center;
  grid-area: head;
  z-index: 1;
}
h1 {
  padding-bottom: 30px;
}
main {
  min-height: 600px;
  color: #000;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: footer;
}
section {
  width: var(--spacing, 100%);
  background-color: rgb(24, 201, 207, 0.9);
  width: 50vw;
  min-width: 300px;
  min-height: 600px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 100px;
  border-radius: 200px 1px 210px 1px;
}

.bg {
  
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%))
    sepia(var(--sepia, 0%)) saturate(var(--saturate, 100%))
    hue-rotate(var(--hue-rotate, 0deg));
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
} /*
*/
